## Group16 
## Xinmai Xuan, Peng Lu, Xiao Zhang

##  How to use the dashboard 
Our group uses two different dashboards to help those who are not experts understand our content, using data from ten countries as examples in our dataset. 

1. The **first dashboard** shows the relationship between Gross increase and Use of intenstiy in forests. By selecting single or multiple choices of the Gross increase in these countries for different years, you can find the forest's use of intensity in the bar chart on the right. This Dashboard allows you to see if the forests are over-exploited or if the normal trend is ensured. 

2. The **second Dashboard** reflects the relationship between Gross increase of forests and the factors of greenhouse gases which includes CO,CO2,PM2.5,etc. This dashboard provides information on the gross increase  of forests in each country and analyze whether the increase of forests have an impact on the change in emissions of these gases and PM2.5.For dashboard 2, year slider controls the europe map. The other two dropdown buttons control plot. Users can select their preferred country and type of greenhouse gas to check its variation.

## Contextual datasets
In this project, we use 2 contextual datasets. 
1. The first one, named pollution exposure, reflects the PM 2.5 emission amount of each country. 
2. The other one, named GHG emissions, records values of some major greenhouse gas emissions such as CO2, CO, SOX, VOC, NOX, and GHG. 

We believe the variations of forest-related resources may influence the emission of greenhouse gases.  To explore their potential connections, we depict a dashboard to show the relation between countries' GROSSINCREASE value and those emissions.

## How large is the dataset
The maximum size of a single file on Github is 100MB, and all datasets we use in our final project do not exceed the capacity of Github. Therefore, We don't think a larger dataset or a plan to change the dataset will be applied to our fianl project.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas
import numpy as np
import ipywidgets

In [2]:
# read dataset
# Air and GHG emissions
CO2 = pd.read_csv('https://raw.githubusercontent.com/lovefade/lovefade.github.io/main/data/CO2.csv')
CO = pd.read_csv('https://raw.githubusercontent.com/lovefade/lovefade.github.io/main/data/CO.csv')
GHG = pd.read_csv('https://raw.githubusercontent.com/lovefade/lovefade.github.io/main/data/GHG.csv')
NOx = pd.read_csv('https://raw.githubusercontent.com/lovefade/lovefade.github.io/main/data/NOx.csv')
SOx = pd.read_csv('https://raw.githubusercontent.com/lovefade/lovefade.github.io/main/data/SOx.csv')

# Air pollution exposure
PM25 = pd.read_csv('https://raw.githubusercontent.com/lovefade/lovefade.github.io/main/data/PM2.5.csv')

# forest resourses
Gross_increase = pd.read_csv('https://raw.githubusercontent.com/lovefade/lovefade.github.io/main/data/Gross_increase.csv')
Use_intensity = pd.read_csv('https://raw.githubusercontent.com/lovefade/lovefade.github.io/main/data/Intensity_of_use.csv')

In [3]:
merge1 = pd.merge(CO2, CO, on=["LOCATION", "TIME"],how='outer')
merge1 = merge1[['LOCATION','TIME','Value_x','Value_y']].rename(columns={"Value_x": "CO2", "Value_y": "CO"}, errors="raise")

In [4]:
merge2 = pd.merge(merge1, GHG, on=["LOCATION", "TIME"],how='outer').rename(columns={"Value": "GHG"})
merge3 = pd.merge(merge2, NOx, on=["LOCATION", "TIME"],how='outer').rename(columns={"Value": "NOx"})
merge4 = pd.merge(merge3, SOx, on=["LOCATION", "TIME"],how='outer').rename(columns={"Value": "SOx"})
merge4 = merge4[['LOCATION','TIME','CO2','CO','GHG','NOx','SOx']]
merge5 = pd.merge(merge4, PM25, on=["LOCATION", "TIME"],how='outer').rename(columns={"Value": "PM25"})
merge6 = pd.merge(merge5, Gross_increase, on=["LOCATION", "TIME"],how='outer').rename(columns={"Value": "Gross_increase"})
merge7 = pd.merge(merge6, Use_intensity, on=["LOCATION", "TIME"],how='outer').rename(columns={"Value": "Use_intensity"})
total_merged = merge7[['LOCATION','TIME','CO2','CO','GHG','NOx','SOx','PM25','Gross_increase','Use_intensity']]
# total_merged

,LOCATION,TIME,CO2,CO,GHG,NOx,SOx,PM25,Gross_increase,Use_intensity
0,AUS,1990,259.523957,335.689,24.941,94.957,92.890,7.6025,NaN,NaN
1,AUS,1991,261.017607,332.512,24.629,92.321,90.833,NaN,NaN,NaN
2,AUS,1992,265.043441,337.351,24.571,93.915,94.517,NaN,NaN,NaN
3,AUS,1993,268.959543,347.074,24.405,95.514,98.799,NaN,NaN,NaN
4,AUS,1994,274.911460,351.739,24.198,94.722,99.087,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
5067,USA,1976,NaN,NaN,NaN,NaN,NaN,NaN,866230.98,0.582
5068,USA,1986,NaN,NaN,NaN,NaN,NaN,NaN,872428.18,0.654
5069,POL,1950,NaN,NaN,NaN,NaN,NaN,NaN,40864.00,0.494
5070,POL,1970,NaN,NaN,NaN,NaN,NaN,NaN,50795.00,0.558
5071,POL,1980,NaN,NaN,NaN,NaN,NaN,NaN,52150.00,0.593

In [5]:
# convert time to datetime type
total_merged['TIME'] = pd.to_datetime(total_merged['TIME'], format='%Y', errors='coerce').dt.year

C:\Users\Xinmai Xuan\AppData\Local\Temp\ipykernel_11156\1333799875.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_merged['TIME'] = pd.to_datetime(total_merged['TIME'], format='%Y', errors='coerce').dt.year

In [6]:
# filter a few countries in Europe and time from 2010 to 2020
total = total_merged[total_merged['LOCATION'].isin(['AUT', 'DNK', 'FRA', 'DEU','ESP','GBR','IRL','ITA','POL','PRT','NED'])]
total = total[(total['TIME']> 2010) & (total['TIME'] < 2020)].reset_index(drop=True)
# total

,LOCATION,TIME,CO2,CO,GHG,NOx,SOx,PM25,Gross_increase,Use_intensity
0,AUT,2011,66.609990,66.810,9.776,23.185,1.797,16.25180,NaN,NaN
1,AUT,2012,63.439008,66.439,9.412,22.430,1.744,14.62976,NaN,NaN
2,AUT,2013,64.096680,66.378,9.410,22.191,1.683,14.62208,28892.0,0.815
3,AUT,2014,60.415457,61.663,8.923,21.114,1.688,12.91310,NaN,NaN
4,AUT,2015,61.553720,62.262,9.095,20.549,1.625,13.45269,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
85,GBR,2015,394.018994,23.747,7.822,15.628,4.007,10.32277,21488.0,0.629
86,GBR,2016,374.900339,21.515,7.376,14.122,2.902,10.15293,NaN,NaN
87,GBR,2017,359.712378,21.337,7.164,13.508,2.817,10.28748,NaN,NaN
88,GBR,2018,353.752397,21.070,6.989,12.806,2.601,10.10409,NaN,NaN
89,GBR,2019,339.248383,20.242,6.713,11.884,2.327,10.02183,NaN,NaN

## Dashboard 2

In [11]:
eubd = geopandas.read_file('https://raw.githubusercontent.com/lovefade/lovefade.github.io/main/euro-border.geojson')
# eubd

,french_short,iso3,status,name,iso_3166_1_alpha_2_codes,color_code,continent,region,geometry
0,Suisse,CHE,Member State,Switzerland,CH,CHE,Europe,Western Europe,"POLYGON ((9.56672 47.54045, 9.55980 47.50209, ..."
1,Jersey,None,UK Territory,Jersey,None,GBR,Europe,Northern Europe,"POLYGON ((-2.01500 49.21417, -2.02111 49.17721..."
2,Autriche,AUT,Member State,Austria,AT,AUT,Europe,Western Europe,"POLYGON ((16.94618 48.61907, 16.94333 48.57333..."
3,Portugal,PRT,Member State,Portugal,PT,PRT,Europe,Southern Europe,"POLYGON ((-7.43185 37.25319, -7.41903 37.18055..."
4,Luxembourg,LUX,Member State,Luxembourg,LU,LUX,Europe,Western Europe,"POLYGON ((6.36217 49.45939, 6.32833 49.46916, ..."
5,Saint-SiÃ¨ge,VAT,Permanent Observer to the UN,Holy See,VA,VAT,Europe,Southern Europe,"POLYGON ((12.44799 41.90062, 12.44577 41.90192..."
6,Estonie,EST,Member State,Estonia,EE,EST,Europe,Northern Europe,"MULTIPOLYGON (((22.98485 58.59944, 23.09083 58..."
7,France,FRA,Member State,France,FR,FRA,Europe,Western Europe,"MULTIPOLYGON (((9.44750 42.68305, 9.45014 42.6..."
8,Serbie,SRB,Member State,Serbia,RS,SRB,Europe,Southern Europe,"POLYGON ((20.26102 46.11485, 20.31403 46.06986..."
9,Malte,MLT,Member State,Malta,MT,MLT,Europe,Southern Europe,"POLYGON ((14.56458 35.82353, 14.51972 35.79999..."
10,Finlande,FIN,Member State,Finland,FI,FIN,Europe,Northern Europe,"MULTIPOLYGON (((23.70583 59.92722, 23.64944 59..."
11,Lituanie,LTU,Member State,Lithuania,LT,LTU,Europe,Northern Europe,"MULTIPOLYGON (((20.98481 55.27655, 20.94283 55..."
12,FÃ©dÃ©ration de Russie,RUS,Member State,Russian Federation,RU,RUS,Europe,Eastern Europe,"MULTIPOLYGON (((131.87329 42.95694, 131.82413 ..."
13,Irlande,IRL,Member State,Ireland,IE,IRL,Europe,Northern Europe,"MULTIPOLYGON (((-9.97014 54.02083, -9.93833 53..."
14,Italie,ITA,Member State,Italy,IT,ITA,Europe,Southern Europe,"MULTIPOLYGON (((15.52889 38.13694, 15.50361 38..."
15,Saint-Marin,SMR,Member State,San Marino,SM,SMR,Europe,Southern Europe,"POLYGON ((12.40913 43.90842, 12.40352 43.92092..."
16,Lettonie,LVA,Member State,Latvia,LV,LVA,Europe,Northern Europe,"POLYGON ((27.37206 57.53564, 27.42500 57.53194..."
17,Pays-Bas,NLD,Member State,Netherlands,NL,NLD,Europe,Western Europe,"MULTIPOLYGON (((4.23890 51.35043, 4.22166 51.3..."
18,Slovaquie,SVK,Member State,Slovakia,SK,SVK,Europe,Eastern Europe,"POLYGON ((22.55805 49.07944, 22.55166 49.03943..."
19,Albanie,ALB,Member State,Albania,AL,ALB,Europe,Southern Europe,"POLYGON ((20.07142 42.56091, 20.10208 42.53347..."
20,Gibraltar,GIB,UK Non-Self-Governing Territory,Gibraltar,GI,GBR,Europe,Southern Europe,"POLYGON ((-5.35580 36.16331, -5.33451 36.16256..."
21,Portugal,PRT,PT Territory,Azores Islands,PT,PRT,Europe,Southern Europe,"MULTIPOLYGON (((-25.01764 36.97208, -25.01285 ..."
22,Allemagne,DEU,Member State,Germany,DE,DEU,Europe,Western Europe,"MULTIPOLYGON (((14.22555 53.92860, 14.21583 53..."
23,Isle of Man,IMY,UK Territory,Isle of Man,None,GBR,Europe,Northern Europe,"POLYGON ((-4.55056 54.09777, -4.62389 54.06860..."
24,Islande,ISL,Member State,Iceland,IS,ISL,Europe,Northern Europe,"POLYGON ((-16.02542 66.53610, -15.95694 66.511..."
25,RÃ©publique de Moldova,MDA,Member State,"Moldova, Republic of",MD,MDA,Europe,Eastern Europe,"POLYGON ((28.21484 45.44865, 28.21131 45.45011..."
26,Liechtenstein,LIE,Member State,Liechtenstein,LI,LIE,Europe,Western Europe,"POLYGON ((9.59863 47.06384, 9.54139 47.07000, ..."
27,MontÃ©nÃ©gro,MNE,Member State,Montenegro,ME,MNE,Europe,Southern Europe,"POLYGON ((20.07142 42.56091, 20.05611 42.56291..."
28,Svalbard and Jan Mayen Islands,SJM,NO Territory,Svalbard and Jan Mayen Islands,SJ,NOR,Europe,Northern Europe,"MULTIPOLYGON (((-8.29090 70.97415, -8.39447 70..."
29,Croatie,HRV,Member State,Croatia,HR,HRV,Europe,Southern Europe,"MULTIPOLYGON (((17.74555 42.69305, 17.74000 42..."
30,NorvÃ¨ge,NOR,Member State,Norway,NO,NOR,Europe,Northern Europe,"MULTIPOLYGON (((5.28778 59.21889, 5.25597 59.1..."
31,Danemark,DNK,Member State,Denmark,DK,DNK,Europe,Northern Europe,"MULTIPOLYGON (((11.51389 54.82972, 11.56444 54..."
32,Belgique,BEL,Member State,Belgium,BE,BEL,Europe,Western Europe,"POLYGON ((6.01180 50.75727, 6.05472 50.72361, ..."
33,Bulgarie,BGR,Member State,Bulgaria,BG,BGR,Europe,Eastern Europe,"POLYGON ((28.58324 43.74776, 28.57638 43.73305..."
34,Royaume-Uni de Grande-Bretagne et d'Irlande du...,GBR,Member State,U.K. of Great Britain and Northern Ireland,GB,GBR,Europe,Northern Europe,"MULTIPOLYGON (((-1.05972 50.68749, -1.16833 50..."
35,GrÃ¨ce,GRC,Member State,Greece,GR,GRC,Europe,Southern Europe,"MULTIPOLYGON (((23.84854 35.52298, 23.97139 35..."
36,Espagne,ESP,Member State,Spain,ES,ESP,Europe,Southern Europe,"MULTIPOLYGON (((-17.91125 27.77375, -17.96389 ..."
37,Roumanie,ROU,Member State,Romania,RO,ROU,Europe,Eastern Europe,"POLYGON ((28.21484 45.44865, 28.22698 45.44938..."
38,BÃ©larus,BLR,Member State,Belarus,BY,BLR,Europe,Eastern Europe,"POLYGON ((31.78388 52.10805, 31.73472 52.10610..."
39,SlovÃ©nie,SVN,Member State,Slovenia,SI,SVN,Europe,Southern Europe,"POLYGON ((16.60787 46.47623, 16.59199 46.47400..."
40,SuÃ¨de,SWE,Member State,Sweden,SE,SWE,Europe,Northern Europe,"MULTIPOLYGON (((16.43722 56.21139, 16.42972 56..."
41,Bosnie-HerzÃ©govine,BIH,Member State,Bosnia & Herzegovina,BA,BIH,Europe,Southern Europe,"POLYGON ((19.03972 44.86138, 19.12111 44.90138..."
42,Monaco,MCO,Member State,Monaco,MC,MCO,Europe,Western Europe,"POLYGON ((7.39161 43.72755, 7.39090 43.74937, ..."
43,Ukraine,UKR,Member State,Ukraine,UA,UKR,Europe,Eastern Europe,"POLYGON ((38.23582 47.10943, 38.13374 47.06221..."
44,Andorre,AND,Member State,Andorra,AD,AND,Europe,Southern Europe,"POLYGON ((1.72361 42.50944, 1.71889 42.50305, ..."
45,MacÃ©doine du Nord,MKD,Member State,The former Yugoslav Republic of Macedonia,MK,MKD,Europe,Southern Europe,"POLYGON ((22.36528 42.32388, 22.40778 42.27944..."
46,Madeira Islands,None,PT Territory,Madeira Islands,None,PRT,Europe,Southern Europe,"POLYGON ((-17.10250 32.82333, -17.05306 32.809..."
47,Hongrie,HUN,Member State,Hungary,HU,HUN,Europe,Eastern Europe,"POLYGON ((22.15144 48.41192, 22.17171 48.40906..."
48,RÃ©publique tchÃ¨que,CZE,Member State,Czech Republic,CZ,CZE,Europe,Eastern Europe,"POLYGON ((14.82833 50.86583, 14.96667 50.85916..."
49,Faroe Islands,FRO,DK Territory,Faroe Islands,FO,DNK,Europe,Northern Europe,"MULTIPOLYGON (((-6.65528 61.38944, -6.66028 61..."
50,Guernsey,None,UK Territory,Guernsey,None,GBR,Europe,Northern Europe,"POLYGON ((-2.59083 49.42249, -2.59722 49.42249..."
51,Pologne,POL,Member State,Poland,PL,POL,Europe,Eastern Europe,"POLYGON ((19.62726 54.46327, 19.65111 54.45583..."

In [12]:
selectedCountry = ['AUT', 'DEU', 'DNK', 'ESP', 'FRA', 'GBR', 'IRL', 'ITA', 'POL', 'PRT']
seleu = eubd[eubd["iso3"].isin(selectedCountry)]
# seleu.head()

,french_short,iso3,status,name,iso_3166_1_alpha_2_codes,color_code,continent,region,geometry
2,Autriche,AUT,Member State,Austria,AT,AUT,Europe,Western Europe,"POLYGON ((16.94618 48.61907, 16.94333 48.57333..."
3,Portugal,PRT,Member State,Portugal,PT,PRT,Europe,Southern Europe,"POLYGON ((-7.43185 37.25319, -7.41903 37.18055..."
7,France,FRA,Member State,France,FR,FRA,Europe,Western Europe,"MULTIPOLYGON (((9.44750 42.68305, 9.45014 42.6..."
13,Irlande,IRL,Member State,Ireland,IE,IRL,Europe,Northern Europe,"MULTIPOLYGON (((-9.97014 54.02083, -9.93833 53..."
14,Italie,ITA,Member State,Italy,IT,ITA,Europe,Southern Europe,"MULTIPOLYGON (((15.52889 38.13694, 15.50361 38..."

In [13]:
forest = pd.read_csv('https://raw.githubusercontent.com/lovefade/lovefade.github.io/main/data/forest.csv')
selforest = forest[(forest['LOCATION'].isin(selectedCountry)) & (forest['SUBJECT'] == 'GROSSINCREASE')]
# selforest

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
74,AUT,FORESTRESOURCE,GROSSINCREASE,THND_M3,A,1985,31416.000,NaN
75,AUT,FORESTRESOURCE,GROSSINCREASE,THND_M3,A,1991,26642.000,NaN
76,AUT,FORESTRESOURCE,GROSSINCREASE,THND_M3,A,1997,30416.000,NaN
77,AUT,FORESTRESOURCE,GROSSINCREASE,THND_M3,A,2005,29963.000,NaN
78,AUT,FORESTRESOURCE,GROSSINCREASE,THND_M3,A,2013,28892.000,NaN
...,...,...,...,...,...,...,...,...
466,POL,FORESTRESOURCE,GROSSINCREASE,THND_M3,A,2010,72600.000,NaN
1631,ESP,FORESTRESOURCE,GROSSINCREASE,THND_M3,A,1990,30088.557,NaN
1632,ESP,FORESTRESOURCE,GROSSINCREASE,THND_M3,A,2000,33641.608,NaN
1633,ESP,FORESTRESOURCE,GROSSINCREASE,THND_M3,A,2005,35418.134,NaN
1634,ESP,FORESTRESOURCE,GROSSINCREASE,THND_M3,A,2010,37194.659,NaN

In [14]:
data_map = (
    seleu.merge(selforest, left_on="iso3", right_on="LOCATION")[
        ["iso3", "geometry", "TIME", "Value"]
    ]
)

# data_map

    iso3                                           geometry  TIME    Value
0    AUT  POLYGON ((16.94618 48.61907, 16.94333 48.57333...  1985  31416.0
1    AUT  POLYGON ((16.94618 48.61907, 16.94333 48.57333...  1991  26642.0
2    AUT  POLYGON ((16.94618 48.61907, 16.94333 48.57333...  1997  30416.0
3    AUT  POLYGON ((16.94618 48.61907, 16.94333 48.57333...  2005  29963.0
4    AUT  POLYGON ((16.94618 48.61907, 16.94333 48.57333...  2013  28892.0
..   ...                                                ...   ...      ...
122  POL  POLYGON ((19.62726 54.46327, 19.65111 54.45583...  1990  52672.0
123  POL  POLYGON ((19.62726 54.46327, 19.65111 54.45583...  1995  51867.0
124  POL  POLYGON ((19.62726 54.46327, 19.65111 54.45583...  2000  61028.0
125  POL  POLYGON ((19.62726 54.46327, 19.65111 54.45583...  2005  67596.0
126  POL  POLYGON ((19.62726 54.46327, 19.65111 54.45583...  2010  72600.0

[127 rows x 4 columns]

## Interaction

In [15]:
@ipywidgets.interact(year_selector=ipywidgets.IntSlider(min=2000, max=2020, step=1, value=2000), country_selector = ipywidgets.Dropdown(options = selectedCountry))

def msp_create(year_selector, country_selector):
    curval = data_map[data_map["TIME"] == year_selector]
    fig,ax = plt.subplots(figsize=(20, 20))
    ax.set_xlim(-15, 27)
    ax.set_ylim(35, 62.25)

    curval.plot(ax=ax, alpha=0.5, edgecolor='k',column='Value',categorical=True, legend=True)

    ctx.add_basemap(ax=ax, crs=eubd.crs)
    plt.show()

interactive(children=(IntSlider(value=2000, description='year_selector', max=2020, min=2000), Dropdown(descripâ€¦

In [16]:
selectedType = ['CO2', 'CO','GHG','NOx','SOx','PM25']
selectedCountry = ['AUT', 'DNK', 'FRA', 'DEU','ESP','GBR','IRL','ITA','POL','PRT']

In [17]:
@ipywidgets.interact(country = ipywidgets.Dropdown(options = selectedCountry),
                     type_selector = ipywidgets.Dropdown(options = selectedType))
def line_chart(country, type_selector):
    airtype = pd.pivot_table(data, values = type_selector, index=['LOCATION'], columns=['TIME'])
    plot_data = airtype[airtype.index == country]
    x, y = plot_data.columns, plot_data.iloc[0,:]
    plt.plot(x, y)
    plt.title(f'Line Chart of {type_selector} in {country}')
    plt.xlabel('time')
    plt.ylabel('value')
    plt.show()

interactive(children=(Dropdown(description='country', options=('AUT', 'DNK', 'FRA', 'DEU', 'ESP', 'GBR', 'IRL'â€¦

In [20]:
@ipywidgets.interact(year_selector=ipywidgets.IntSlider(min=2000, max=2020, step=1, value=2000),
                     country = ipywidgets.Dropdown(options = selectedCountry),
                     type_selector = ipywidgets.Dropdown(options = selectedType))

def msp_line(year_selector):
    curval = data_map[data_map["TIME"] == year_selector]
    fig,ax = plt.subplots(figsize=(10, 10))
    ax.set_xlim(-15, 27)
    ax.set_ylim(35, 62.25)

    curval.plot(ax=ax, alpha=0.5, edgecolor='k',column='Value',categorical=True, legend=True)

    ctx.add_basemap(ax=ax, crs=eubd.crs)
    plt.show()
    
def line_chart(country, type_selector):
    airtype = pd.pivot_table(data, values = type_selector, index=['LOCATION'], columns=['TIME'])
    plot_data = airtype[airtype.index == country]
    x, y = plot_data.columns, plot_data.iloc[0,:]
    plt.plot(x, y)
    plt.title(f'Line Chart of {type_selector} in {country}')
    plt.xlabel('time')
    plt.ylabel('value')
    plt.show()

interactive(children=(IntSlider(value=2000, description='year_selector', max=2020, min=2000), Output()), _dom_â€¦

In [26]:
@ipywidgets.interact(year_selector=ipywidgets.IntSlider(min=2000, max=2020, step=1, value=2000),
                     country = ipywidgets.Dropdown(options = selectedCountry),
                     type_selector = ipywidgets.Dropdown(options = selectedType))

def dashboard_created(year_selector, country, type_selector):
    
    
    curval = data_map[data_map["TIME"] == year_selector]
    airtype = pd.pivot_table(data, values = type_selector, index=['LOCATION'], columns=['TIME'])
    plot_data = airtype[airtype.index == country]
    
    fig,ax = plt.subplots(2, 1, figsize=(7.5, 10))
    ax[0].set_xlim(-15, 27)
    ax[0].set_ylim(35, 62.25)
    curval.plot(ax=ax[0], alpha=0.5, edgecolor='k',column='Value',categorical=True, legend=True)
    ctx.add_basemap(ax=ax[0], crs=eubd.crs)
    
    x, y = plot_data.columns, plot_data.iloc[0,:]
    ax[1].plot(x, y)
    ax[1].set_title(f'Line Chart of {type_selector} in {country}')
    ax[1].set_xlabel('time')
    ax[1].set_ylabel('value')
    
    plt.show()

interactive(children=(IntSlider(value=2000, description='year_selector', max=2020, min=2000), Dropdown(descripâ€¦